imports:
    - { resource: tables.yml }
    - { resource: user_config_keys.yml }

services:
    dmzx.mchat.core:
        class: dmzx\mchat\core\mchat
        arguments:
            - '@dmzx.mchat.functions'
            - '@dmzx.mchat.settings'
            - '@controller.helper'
            - '@template'
            - '@user'
            - '@auth'
            - '@pagination'
            - '@request'
            - '@dispatcher'
            - '@ext.manager'
            - '%core.root_path%'
            - '%core.php_ext%'
            - '@?phpbb.collapsiblecategories.operator'
    dmzx.mchat.functions:
        class: dmzx\mchat\core\functions
        arguments:
            - '@dmzx.mchat.settings'
            - '@user'
            - '@auth'
            - '@log'
            - '@dbal.conn'
            - '@cache.driver'
            - '@dispatcher'
            - '%core.root_path%'
            - '%core.php_ext%'
            - '%dmzx.mchat.table.mchat%'
            - '%dmzx.mchat.table.mchat_log%'
            - '%dmzx.mchat.table.mchat_sessions%'
    talonos.b3pmchat.b3pmchat:
        class: talonos\b3pmchat\b3pmchat
        arguments:
            - '@config'
            - '@template'
            - '@dmzx.mchat.functions'
            - '@dmzx.mchat.core'
            - '@controller.helper'
            - '@user'
            - '%core.php_ext%'
        tags:
            - { name: board3.portal.module }